{% extends 'Mainpage/navbar.html' %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}Manage Materials{% endblock %}
    <script src="https://kit.fontawesome.com/6e04d39f81.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/material.css' %}">
    {% endblock %}
</head>

<body>
    {% block body %}
    <div class="container">
        <div class="p-5 bottom-radious bg-light shadow-lg" style="background-color: white;">
            <h1>Account Management</h1>
            <hr class="my-2">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Enter Income
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <form action="/profit/" method="post">{% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <label for="">Date:</label>
                                    <input type="date" name="date" class="form-control" onload="getDate()" aria-label="First name">
                                </div>
                                <div class="col">
                                    <label for="">Select Site:</label>
                                    <select class="form-select" name="site_name">
                                        {% for i in sites_data %}
                                        <option value="{{i.manager_id}},{{i.site_name}}">{{i.site_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col">
                                    <label for="">Time:</label>
                                    <input type="time" name="time" class="form-control" aria-label="First name">
                                </div>
                                <div class="col">
                                    <label for="">Payment Mode:</label>
                                    <select class="form-select" name="mode">
                                        <option value="Cash">Cash</option>
                                        <option value="Check">Cheque</option>
                                        <option value="Digital Payment">Digital Payment</option>
                                        <option value="Net Banking">Net Banking</option>
                                        <option value="Mobile Banking">Mobile Banking</option>
                                    </select>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col">
                                    <label for="">Payee Name:</label>
                                    <input type="text" name="payee" class="form-control" placeholder="Payee Name" aria-label="">
                                </div>
                                <div class="col">
                                    <label for="">Amount:</label>
                                    <input type="number" name="amount" class="form-control" aria-label="First name">
                                </div>
                            </div><br>
                            <div class="col">
                                <label for="">Enter Remarks:</label>
                                <input type="text" name="remarks" class="form-control" placeholder="Enter Remarks" aria-label="">
                            </div><br>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            </div>


            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Enter Expense
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <form action="/expense/" method="post">{% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <label for="">Date:</label>
                                    <input type="date" name="date" class="form-control" onload="getDate()" required>
                                </div>
                                <div class="col">
                                    <label for="">Select Site:</label>
                                    <select class="form-select" name="site_name" required>
                                        {% for i in sites_data %}
                                        <option value="{{i.manager_id}},{{i.site_name}}">{{i.site_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col">
                                    <label for="">Time:</label>
                                    <input type="time" name="time" class="form-control" required>
                                </div>
                                <div class="col">
                                    <label for="">Payment Mode:</label>
                                    <select class="form-select" name="mode" required>
                                        <option value="Cash">Cash</option>
                                        <option value="Check">Cheque</option>
                                        <option value="Digital Payment">Digital Payment</option>
                                        <option value="Net Banking">Net Banking</option>
                                        <option value="Mobile Banking">Mobile Banking</option>
                                    </select>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col">
                                    <label for="">Payee Name:</label>
                                    <input type="text" name="payee" class="form-control" placeholder="Payee Name" required>
                                </div>
                                <div class="col">
                                    <label for="">Amount:</label>
                                    <input type="number" name="amount" class="form-control" required>
                                </div>
                            </div><br>
                            <div class="col">
                                <label for="">Enter Remarks:</label>
                                <input type="text" name="remarks" class="form-control" placeholder="Enter Remarks" required>
                            </div><br>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            </div>
            <br><br>
            <hr>
            <h3 style="text-align: center;">Income Data</h3>
            <hr><br>
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Payment Mode</th>
                        <th>Payee Name</th>
                        <th>Amount</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in profit_datas %}
                    <tr>
                        <td>{{i.Date}}</td>
                        <td>{{i.Time}}</td>
                        <td>{{i.payment_mode}}</td>
                        <td>{{i.payee_name}}</td>
                        <td>{{i.Amount}}</td>
                        <td style="display: flex;">
                            <form action="/details/" method="post">{% csrf_token %}
                                <input type="hidden" value="{{i.id}}" name="id" id="">
                                <input type="hidden" value="{{tab_name1}}" name="tab_name" id="">
                                <input type="hidden" value="{{redirect}}" name="redirect" id="">
                                <button type="submit" class="btn btn-primary">View</button>
                            </form>
                            <form action="/update-form/" method="post" style="margin-left: 10px;">{% csrf_token %}
                                <input type="hidden" value="{{i.id}}" name="id" id="">
                                <input type="hidden" value="{{tab_name1}}" name="tab_name" id="">
                                <input type="hidden" value="{{redirect}}" name="redirect" id="">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                            <form action="/Delete-Manager/" method="post" style="margin-left: 10px;">{% csrf_token %}
                                <input type="hidden" value="{{i.id}}" name="id" id="">
                                <input type="hidden" value="{{tab_name2}}" name="tab_name" id="">
                                <input type="hidden" value="{{redirect}}" name="redirect" id="">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
            </table><br><br>
            <hr>
            <h3 style="text-align: center;">Expense Data</h3>
            <hr><br>
            <table id="example1" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Payment Mode</th>
                        <th>Payee Name</th>
                        <th>Amount</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in expense_datas %}
                    <tr>
                        <td>{{i.Date}}</td>
                        <td>{{i.Time}}</td>
                        <td>{{i.payment_mode}}</td>
                        <td>{{i.payee_name}}</td>
                        <td>{{i.Amount}}</td>
                        <td style="display: flex;">
                            <form action="/details/" method="post">{% csrf_token %}
                                <input type="hidden" value="{{i.id}}" name="id" id="">
                                <input type="hidden" value="{{tab_name}}" name="tab_name" id="">
                                <input type="hidden" value="{{redirect}}" name="redirect" id="">
                                <button type="submit" class="btn btn-primary">View</button>
                            </form>

                            <form action="/update-form/" method="post" style="margin-left: 10px;">{% csrf_token %}
                                <input type="hidden" value="{{i.id}}" name="id" id="">
                                <input type="hidden" value="{{tab_name2}}" name="tab_name" id="">
                                <input type="hidden" value="{{redirect}}" name="redirect" id="">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                            <form action="/Delete-Manager/" method="post" style="margin-left: 10px;">{% csrf_token %}
                                <input type="hidden" value="{{i.id}}" name="id" id="">
                                <input type="hidden" value="{{tab_name2}}" name="tab_name" id="">
                                <input type="hidden" value="{{redirect}}" name="redirect" id="">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
            </table>
        </div>
    </div>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>
{% block script %}
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script>

</script>
{% endblock %}